@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body_page" class="row">
    <div class="xs-hidden sm-hidden col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <main id="content_body">
            <h2 class="text-center">Ingreso de Usuarios</h2>
        </main>
    </div>
    <div class="xs-hidden sm-hidden col-md-3 col-lg-3"></div>
</div>

@section scripts{
    @RenderPage("~/Views/Shared/Front_end/Sections/MisScriptsJs.cshtml")
}
