<div id="header_page" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @RenderPage("~/Views/Shared/Front_end/Menus/menu_front.cshtml")
        <header id="content_head">
            <h1 class="text-center">El Trebol - Bienes Raices<br />
                <small>Soluciones inmobiliarias a tu necesidad</small></h1>
        </header>
        @RenderPage("~/Views/Shared/Front_end/Modals/LoginForm.cshtml")
    </div>
</div>