<ul class="menu-lateral">
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
    <li>
        <a class="text-center">Items</a>
    </li>
</ul>