<div id="footer_page" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <footer id="content_footer">
            <h3 class="text-center">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2016 <br />
            Todos los derechos reservados.</h3>
        </footer>
    </div>
</div>