<div id="body_page" class="row">
    <div class="col-xs-hidden col-sm-hidden col-md-4 col-lg-4">
        <div class="panel panel-success panelAlinear">
            <div class="panel-heading">Título de la publicación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="~/images/lacasa.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-justify">Descri mkasdmask jndakj najslbda njsd ksla anjsnaslkn salnsl cnaj de la Propiedad </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                        <a type="button" class="btn btn-lg">
                            <span class="badge">7</span> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-info btn-sm" data-loading-text="Cargando">Ver más...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-hidden col-sm-hidden col-md-4 col-lg-4"></div>
    <div class="col-xs-hidden col-sm-hidden col-md-4 col-lg-4"></div>
</div>