@{
    ViewBag.Title = "Producto | " + @ViewBag.id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body_page" class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @RenderPage("~/Views/Productos/Comentario/ModalComentario.cshtml")
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Título de la Propiedad</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @RenderPage("~/Views/Productos/Carrusel/Carrusel.cshtml")
                <p>                
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan porta neque ac eleifend. Donec risus odio, imperdiet eget orci at, rutrum eleifend nulla. Proin commodo mi non viverra porta. Integer mollis, libero id lacinia gravida, tellus justo efficitur ipsum, quis porttitor libero mi vitae purus. Maecenas lectus quam, rutrum a hendrerit nec, consectetur ut mi. Ut in cursus elit. Integer rutrum lorem sed felis suscipit consequat. Vivamus eleifend magna nisi, tristique convallis dolor malesuada id. Sed risus turpis, mollis ac eros id, euismod placerat urna. Quisque eget sapien ullamcorper nulla viverra pharetra id sit amet felis. Ut cursus egestas ante, pellentesque pretium odio rutrum condimentum. Maecenas arcu tellus, fermentum at tincidunt ut, interdum ut orci. Proin commodo condimentum urna vitae sagittis. Donec ac ipsum et lorem laoreet dictum sed eu dolor.
                    Sed efficitur urna consectetur libero ullamcorper, ac pharetra justo pulvinar. Nulla tempus magna et purus condimentum vestibulum. Donec at mi dignissim, euismod sem eu, faucibus metus. Cras sem quam, porta ac ultricies vitae, faucibus sed tortor. Nam vitae tellus id augue pharetra iaculis nec eu arcu. Sed ultrices tortor sit amet finibus fermentum. Aenean in nulla a massa porta volutpat. In condimentum enim quis leo vestibulum, sit amet lacinia libero viverra. Proin vitae dignissim augue. Proin eget aliquet tortor. Nullam feugiat, orci et congue viverra, massa ligula sollicitudin est, eu ornare erat ligula bibendum turpis. Phasellus vehicula vitae erat vel aliquam.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-warning" id="Consultar">Consultar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>
</div>


@section scripts{
    @RenderPage("~/Views/Shared/Front_end/Sections/ScriptComentario.cshtml")
}